.ace_editor {
    margin: auto;
    width: 75%;
    height: 80%;
}

#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
}

#dropdown-content {
    display: none;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 7%; /* Changed from fixed value to percentage */
    height: 100vh;
    padding: 10px;
    margin-left: 2.5%;
}

#sidebar-button {
    border: none;
    padding: 10px 5px;
    cursor: pointer;
    width: auto;
    font-size: 6px auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#otherside {
    float: center;
    text-align: center;
}

#settings {
    display: none;
}

#spacer {
    padding: 360% 0px;
}
